.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-item {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 10px 0;
}

.todo-item-complete {
  text-decoration: line-through;
}

.todo-item > button {
  margin-left: 20px;
  cursor: pointer;
  font-size: 1.1rem;
  background: #e74c3c;
  border: 0;
  color: #ecf0f1;
}

.todo-item > button:focus {
  outline: 0;
}

form > input {
  font-size: 1.2rem;
}

form > input[type="submit"] {
  font-size: 1.1rem;
  background: #2c3e50;
  border: 0;
  color: #ecf0f1;
}

input:focus {
  outline: 0;
}